$main-color: #dc143c;
$medium: 768px;
$large: 1180px;

header {
  background-color: $main-color;
  height: 68px;
  padding: 10px 20px;
}

.mobile-version {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  .header-brand {
    font-size: 30px;
    color: #fff;
  }

  .header-btn {
    border: none;
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.desktop-version {
  display: none;
}

@media (min-width: #{$large}) {

  .mobile-version {
    display: none;
  }

  .desktop-version {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .header-brand {
      font-size: 30px;
      color: #fff;
    }

  } 
}